/* All rights reserved (c) MN-Shop.com */

html {
    margin: 0;
    padding: 0
}
body {
    background: url(images/back.png) repeat center center #292e31;
    font-family: calibri;
    margin: 0;
    padding: 0
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}
img {
    border: 0
}
.header {
    background: #202020;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwMjAyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(32, 32, 32, .85) 0, rgba(17, 17, 17, .85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(32, 32, 32, .85)), color-stop(100%, rgba(17, 17, 17, .85)));
    background: -webkit-linear-gradient(top, rgba(32, 32, 32, .85) 0, rgba(17, 17, 17, .85) 100%);
    background: -o-linear-gradient(top, rgba(32, 32, 32, .85) 0, rgba(17, 17, 17, .85) 100%) background: -ms-linear-gradient(top, rgba(32, 32, 32, .85) 0, rgba(17, 17, 17, .85) 100%);
    background: linear-gradient(to bottom, rgba(32, 32, 32, .85) 0, rgba(17, 17, 17, .85) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#202020', endColorstr='#111111', GradientType=0);
    width: 998px;
	margin: 0 auto;
	border: 1px solid #111111;
	border-top: 0;
    height: 56px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .40);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .40);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .40);
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.header-content {
    width: 988px;
    margin: auto
}
.navbar {
    float: left;
    padding-left: 10px;
    padding-top: 18px;
    color: #fff
}
h1 {
    color: #fff;
    float: left;
    padding-left: 20px
}
.container {
    min-height: 100%
}
.logo {
    display: block;
    float: left
}
ul#navigation {
    float: right
}
ul#navigation li {
    margin: 0 3px;
    float: left;
    padding: 6px 0;
    outline: 0
}
ul#navigation li a {
    color: #f0f0f0;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    line-height: 45px;
    padding: 0 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    outline: 0
}
ul#navigation li a:hover {
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
	background: #00702e;
	background: -moz-linear-gradient(top,  #00702e 0%, #00c92b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00702e), color-stop(100%,#00c92b));
	background: -webkit-linear-gradient(top,  #00702e 0%,#00c92b 100%);
	background: -o-linear-gradient(top,  #00702e 0%,#00c92b 100%);
	background: -ms-linear-gradient(top,  #00702e 0%,#00c92b 100%);
	background: linear-gradient(to bottom,  #00702e 0%,#00c92b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00702e', endColorstr='#00c92b',GradientType=0 );
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.1)
}
ul#navigation li a.logout {
    background:url(images/logout.png) no-repeat;
	width:24px;
	height:24px;
	margin: 11px 0 0;
	padding: 0;
    display: inline-block;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
ul#navigation li a.logout:hover {
	opacity: 0.6;
}
ul#navigation li a img {
    position: relative;
    display: inline-block;
    top: 11px;
    left: -1px
}
ul#navigation li.selected a {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.15)
}
ul#navigation .green {
    color: #569648;
}
.main {
    margin: auto;
    width: 1000px;
    clear: both
}
.content {
    width: 675px;
    min-height: 450px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 20px;
    margin: 20px 0 20px 20px;
    float: left;
    border: 1px solid #111111;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .40);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .40);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .40);
    text-align: center
}
.content h2.title {
    font-size: 21px;
    color: #efefef;
    text-align: left;
    margin-top: -5px;
    border-bottom: 1px solid #efefef
}
.content h2.title font{
    color: #333;
	padding: 1px 5px 0;
	background: #efefef;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.signin h2.title {
    font-size: 21px;
    color: #efefef;
    text-align: left;
    margin-top: 10px;
    border-bottom: 1px solid
}
.t-left {
    text-align: left
}
.content-ex {
    width: 640px;
    background: rgba(0, 0, 0, .65);
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    float: left;
    border: 1px solid #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center
}
.content-ex a {
    color: #1190db;
    text-decoration: none
}
.content a {
    color: #fff;
    text-decoration: none
}
.exchange_content {
    background: url(images/back.png) repeat center center #292e31;
    border: 1px solid #ccc;
    width: 575px;
    max-height: 300px;
    min-height: 210px;
    color: #fff;
    padding: 35px 20px 5px 20px;
    margin: auto;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
    float: center;
}
.earnings {
    background: url(images/imgurj.png);
    border: 1px solid #000;
    width: 585px;
    text-align: center;
    padding: 10px;
    margin: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-image: initial;
    margin-top: 10px;
    color: white;
    font-size: 25px;
    text-shadow: 0 0 0 transparent, 0 1px 0 #11192c
}
.sidebar {
    float: left
}
.ucp_menu {
    background-color: rgba(0, 0, 0, 0.5);
    width: 220px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #000;
    margin: 10px 20px 10px 0
}
.ucp_menu h2 {
    background: #171717;
    background: -moz-linear-gradient(top, #171717 0, #050505 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #171717), color-stop(100%, #050505));
    background: -webkit-linear-gradient(top, #171717 0, #050505 100%);
    background: -o-linear-gradient(top, #171717 0, #050505 100%);
    background: -ms-linear-gradient(top, #171717 0, #050505 100%);
    background: linear-gradient(to bottom, #171717 0, #050505 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#050505', GradientType=0);
    margin: -8px 0 5px -20px;
    padding: 6px 5px 7px;
    width: 230px;
    color: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}
.ucp_link {
    background: -moz-linear-gradient(center top , #363636, #282828) repeat scroll 0% 0% transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363636), color-stop(40%,#282828), color-stop(100%,#282828)); /* Chrome,Safari4+ */
    color: #FFF;
    font-size: 14px;
    width: 180px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 3px;
    padding: 3px 8px;
    text-shadow: 0px 0px 0px transparent, 0px 1px 0px #11192C;
    text-decoration: none;
    font-weight: bold;
	cursor: pointer;
}
.ucp_link:hover {
    background: #343434
}
.ucp_link.active {
    background: #343434
}
.ucp_link a {
    color: #fff;
    text-decoration: none
}
.ucp_inner {
    padding: 7px 10px 2px 10px;
    text-align: center
}
.index_info {
    background: url(images/back.png) repeat center center #292e31;
    border: 1px solid #ccc;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: -20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}
.exchange_div {
    background: #282828;
    background: -webkit-linear-gradient(top, #363636, #282828);
    background: -moz-linear-gradient(top, #363636, #282828);
    background: -ms-linear-gradient(top, #363636, #282828);
    background: -o-linear-gradient(top, #363636, #282828);
    background: linear-gradient(top, #363636, #282828);
    color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 25px;
    margin-right: 10px;
    padding: 6px 18px;
    text-shadow: 0 0 0 transparent, 0 1px 0 #11192c;
    text-decoration: none;
    font-weight: bold;
    display: inline
}
.exchange_div:hover {
    background: #363636
}
.blue_div_button {
	background: #7fbf4d;
    background: -webkit-linear-gradient(top, #4d9bbf, #2f72a6);
    background: -moz-linear-gradient(top, #4d9bbf, #2f72a6);
    background: -ms-linear-gradient(top, #4d9bbf, #2f72a6);
    background: -o-linear-gradient(top, #4d9bbf, #2f72a6);
    background: linear-gradient(top, #4d9bbf, #2f72a6);
    width: 115px;
    padding: 7px 14px;
    text-align: center;
    text-shadow: 0 -1px 0 #216590;
    margin-top: 20px;
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #2f72a6;
    box-shadow: inset 0 1px 0 0 #6da4ca;
    -webkit-box-shadow: inset 0 1px 0 0 #6da4ca;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.blue_div_button:hover {
    background: #4781b3;
    box-shadow: inset 0 1px 0 0 #678ebf;
    -webkit-box-shadow: inset 0 1px 0 0 #678ebf;
    cursor: pointer
}
.green_div_button {
    background: #7fbf4d;
    background: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background: linear-gradient(top, #7fbf4d, #63a62f);
    width: 115px;
    padding: 7px 14px;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    margin-top: 20px;
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #63a62f;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.green_div_button:hover {
    background: #76b347;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer
}
.circle-or {
	background: #fff;
	color: #333;
	display:inline-block;
	font-size:14px;
	font-weight:600;
	height:50px;
	width:50px;
	text-align:center;
	line-height:49px;
	margin: 0 -12px 1px -20px;
	vertical-align:middle;
	position:relative;
	border-top: 2px solid #4394b9;
	border-left: 2px solid #4394b9;
	border-bottom: 2px solid #7fbf4d;
	border-right: 2px solid #7fbf4d;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
.small-circle-or {
	background: #fff;
	color: #333;
	display:inline-block;
	font-size:14px;
	font-weight:600;
	height:40px;
	width:40px;
	text-align:center;
	line-height:39px;
	margin: 0 -12px 1px -20px;
	vertical-align:middle;
	position:relative;
	border-top: 2px solid #4394b9;
	border-left: 2px solid #4394b9;
	border-bottom: 2px solid #7fbf4d;
	border-right: 2px solid #7fbf4d;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
.signin {
    background: rgba(0, 0, 0, .65);
    width: 220px;
    float: left;
    padding: 10px;
    padding-top: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #000;
    margin: 20px 20px 0 0
}
.signin h2 {
    color: #fff;
    text-align: center;
    font-family: arial;
    text-shadow: 0 0 0 transparent, 0 1px 0 #11192c
}
.sideblock_ucp {
    background: rgba(0, 0, 0, .65);
    height: 30px;
    width: 220px;
    padding: 10px;
    padding-top: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #000;
    margin: 20px 20px 10px 0
}
.sideblock_ucp h2 {
    color: #fff;
    text-align: center;
    font-family: arial;
    font-size: 14px;
    text-shadow: 0 0 0 transparent, 0 1px 0 #11192c
}
.coincount {
    padding-left: 21px;
    background: transparent url(images/coins.png) no-repeat;
    color: #d1a44b;
    font-family: arial;
    font-size: 14px;
    text-shadow: 0 0 0 transparent, 0 1px 0 #a67920;
    display: inline
}
.ic-count {
    padding-left: 21px;
    background: transparent url(images/coins.png) no-repeat;
    color: #d1a44b;
    font-family: arial;
    font-size: 21px;
    text-shadow: 0 0 0 transparent, 0 1px 0 #a67920;
    display: inline
}
#footer {
    background: #202020;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwMjAyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(32, 32, 32, .85) 0, rgba(17, 17, 17, .85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(32, 32, 32, .85)), color-stop(100%, rgba(17, 17, 17, .85)));
    background: -webkit-linear-gradient(top, rgba(32, 32, 32, .85) 0, rgba(17, 17, 17, .85) 100%);
    background: -o-linear-gradient(top, rgba(32, 32, 32, .85) 0, rgba(17, 17, 17, .85) 100%) background: -ms-linear-gradient(top, rgba(32, 32, 32, .85) 0, rgba(17, 17, 17, .85) 100%);
    background: linear-gradient(to bottom, rgba(32, 32, 32, .85) 0, rgba(17, 17, 17, .85) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#202020', endColorstr='#111111', GradientType=0);
    width: 996px;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    color: #9c9c9c;
    margin: 20px auto 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
    clear: both;
	border: 1px solid #111111;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .40);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .40);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .40);
}
#footer a {
    color: #d6d6d6;
	text-decoration: none;
    font-weight: bold
}
ul.footer_links li {
    float: right
}
ul.footer_links li a {
    padding: 0 5px
}
.gbut {
    zoom: 1;
    *display: inline;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    font-size: inherit;
    padding: 5px 20px;
    color: #e8f0de;
    border: solid 1px #5c9310;
    background: #76a507;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#5c9310));
    background: -moz-linear-gradient(top, #7db72f, #5c9310);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#5C9310');
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}
.gbut:hover {
    background: #527e17;
    background: -webkit-gradient(linear, left top, left bottom, from(#689925), to(#4f7e0d));
    background: -moz-linear-gradient(top, #689925, #4f7e0d);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#689925', endColorstr='#4f7e0d')
}
.bbut {
    zoom: 1;
    *display: inline;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    font-size: inherit;
    padding: 6px 20px;
    color: #e8f0de;
    border: solid 1px #0072c5;
    background: #037dd5;
    background: -webkit-gradient(linear, left top, left bottom, from(#037bd2), to(#0072c5));
    background: -moz-linear-gradient(top, #037bd2, #0072c5);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#037bd2', endColorstr='#0072c5');
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}
.bbut:hover {
    box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.3)
}
.buttons {
    COLOR: #FFF;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center
}
.buttons a {
    COLOR: #fff;
    text-decoration: none
}
.links {
    float: right;
    padding-right: 50px;
    color: #fff;
    font-size: 20px;
    padding: 20px
}
.login {
    font-size: 14px;
    color: #8e8d8d;
    padding: 11px 15px 10px 50px;
    background: #fdfdfd;
    width: 154px;
    display: block;
    border: 1px solid #d8d8d8;
    margin-bottom: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: inset 2px 2px 4px #f1f1f1
}
.login_user {
    background: #fdfdfd url(images/login_user.png) no-repeat
}
.login_password {
    background: #fdfdfd url(images/login_password.png) no-repeat
}
input.l_form {
    background: url(images/formbg.png) repeat-x #000;
    height: 20px;
    min-width: 185px;
    border: 2px solid #acacac;
    padding: 12px 14px;
    color: #aaa;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-image: initial;
    margin-bottom: 8px;
    float: center;
    font-size: 15px
}
input.text-max {
    background: url(images/formbg.png) repeat-x #000;
    height: 20px;
    min-width: 95%;
    border: solid 1px #9a9a9a;
    padding: 12px 14px;
    color: #aaa;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-image: initial;
    margin-bottom: 8px;
    float: center;
    font-size: 15px;
    border: 2px solid #292929
}
select.styled {
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding: 3px;
    min-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap
}
input.text.big {
    height: 30px;
    min-width: 216px;
    border: solid 1px #9a9a9a;
    padding: 2px 4px;
    color: #333;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}
textarea {
    border: solid 1px #bbb;
    font-size: 12px;
    color: #333;
    min-width: 587px;
    padding: 2px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}
.exchange_container {
    margin-top: 40px
}
.exchange_container h2 {
    color: #FFF;
    text-align: center;
    font-family: arial;
    font-size: 27px;
    text-shadow: 0 0 0 transparent, 0 1px 0 #11192c;
    margin-bottom: 2px
}
.exchange_icon {
    margin-top: 8px;
    max-width: 32px;
    border: 0
}
.exchange_icon:hover {
    opacity: .4
}
#tbl .tbl {
    background: url(images/header.png) repeat-x #0d55a3;
    border-color: #000;
    float: left;
    height: 75px;
    margin: 8px 8px 0 0;
    overflow: hidden;
    padding-top: 10px;
    position: relative;
    text-align: center;
    width: 127px;
    border-image: initial;
    color: #000
}
.title a {
    color: #fff !important;
    font-size: 70%
}
#tbl .tbl-content {
    background: url(images/header.png) repeat-x #0d55a3;
    border-color: #000
}
#tbl .tbl-content_vip {
    background: url(images/header.png) repeat-x #c0493c;
    border-color: #000;
    box-shadow: 0 0 2px #999
}
#tbl a.close {
    color: #999;
    font: bold 14px/14px Verdana, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 5px;
    width: 10px
}
#tbl .points {
    margin-top: 5px
}
#tbl .tbl {
    text-align: center
}
.follow {
    background: url(images/header.png) repeat-x #0d55a3;
    border-color: #000;
    height: 150px;
    overflow: hidden;
    position: relative;
    float: left;
    width: 88px;
    border: 1px solid #000;
    margin: 1px 0 2px 6px;
    padding-top: 20px;
    text-align: center;
    border-image: initial;
    color: #efefef;
    border-radius: 3px
}
.follow_vip {
    background: url(images/header.png) repeat-x #c0493c;
    border-color: #000;
    height: 150px;
    overflow: hidden;
    position: relative;
    float: left;
    width: 88px;
    border: 1px solid #000;
    margin: 1px 0 2px 6px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px #999
}
.followbutton {
    cursor: pointer;
    display: block;
    font-size: 12px;
    margin: 3px 0;
    padding: 4px 0;
    text-align: center;
    width: 70px;
    background: url('images/follow.jpg') repeat-x #009c0c;
    border: 1px solid #267934;
    -moz-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    color: white;
    text-shadow: 0 -1px 1px #267934;
    border-image: initial
}
.purchase {
    width: 214px;
    height: 140px;
    text-align: center;
    margin-top: 10px;
    background: #efefef;
    float: left;
    margin: 0 0 10px 10px;
    border-radius: 5px
}
.purchase-hdr {
    background: url(images/purchase-hdr.jpg) repeat-x;
    color: #fff !important;
    display: block;
    font-size: 14px !important;
    font-weight: normal;
    margin-bottom: 30px;
    font-weight: bold;
    padding: 4px 20px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}
.purchase-hdr2 {
    color: #1190db;
    display: block;
    font-size: 23px !important;
    font-weight: normal;
    font-weight: bold;
    text-align: center
}
.infobox {
    background: #efefef;
    display: block;
    clear: both;
    border: 1px solid #fff;
    padding: 8px 6px;
    width: 98%;
    font-size: 14px;
    color: #222;
    margin-top: 15px;
	margin-bottom: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
.infobox a {
    color: #666;
}
.homebox {
    background: #6d6d6d;
    display: block;
    clear: both;
    border: 1px solid #efefef;
    padding: 25px 12px;
    width: 98%;
    font-size: 14px;
    color: #efefef;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
.homebox h2 {
    color: #93c52f;
    margin: 4px 2px 12px 2px;
    font-size: 22px;
    text-align: center;
    font-family: arial;
    text-shadow: 0 1px 0 rgba(12, 12, 12, 0.6)
}
.msg div {
    display: block;
    clear: both;
    margin-bottom: 15px;
    padding: 10px;
    min-height: 20px;
    font-family: Arial, Tahoma, sans-serif;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset;
    -o-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset
}
.msg .error {
    border: 1px solid #dc4e4d;
    color: #b52525;
    background-color: #ec8282;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #f48888), color-stop(100%, #e17575));
    background-image: -webkit-linear-gradient(#f48888, #e17575);
    background-image: -moz-linear-gradient(#f48888, #e17575);
    background-image: -o-linear-gradient(#f48888, #e17575);
    background-image: linear-gradient(#f48888, #e17575);
    -moz-text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    text-shadow: 0 1px rgba(255, 255, 255, 0.2)
}
.msg .success {
    border: 1px solid #accc5d;
    color: #70892b;
    background-color: #c8e185;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #d0e98e), color-stop(100%, #c1da7f));
    background-image: -webkit-linear-gradient(#d0e98e, #c1da7f);
    background-image: -moz-linear-gradient(#d0e98e, #c1da7f);
    background-image: -o-linear-gradient(#d0e98e, #c1da7f);
    background-image: linear-gradient(#d0e98e, #c1da7f);
    -moz-text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    text-shadow: 0 1px rgba(255, 255, 255, 0.3)
}
.msg .warning {
    border: 1px solid #f9b516;
    color: #c2721b;
    background-color: #fbb160;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #ffd57f), color-stop(100%, #ffa544));
    background-image: -webkit-linear-gradient(#ffd57f, #ffa544);
    background-image: -moz-linear-gradient(#ffd57f, #ffa544);
    background-image: -o-linear-gradient(#ffd57f, #ffa544);
    background-image: linear-gradient(#ffd57f, #ffa544);
    -moz-text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    text-shadow: 0 1px rgba(255, 255, 255, 0.2)
}
.msg .info {
    border: 1px solid #69c0ca;
    color: #3d8d98;
    background-color: #8aced6;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #99e2eb), color-stop(100%, #79c6cd));
    background-image: -webkit-linear-gradient(#99e2eb, #79c6cd);
    background-image: -moz-linear-gradient(#99e2eb, #79c6cd);
    background-image: -o-linear-gradient(#99e2eb, #79c6cd);
    background-image: linear-gradient(#99e2eb, #79c6cd);
    -moz-text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    text-shadow: 0 1px rgba(255, 255, 255, 0.2)
}
.table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
    margin: 10px auto
}
.table th,
.table td {
    border-right: 1px solid #111;
    border-bottom: 1px solid #111;
    color: #efefef
}
.table th:last-child,
.table td:last-child {
    border-right: 0
}
.table tbody tr:last-child th,
.table tbody tr:last-child td {
    border-bottom: 0
}
.table td {
    padding: 4px
}
.table td {
    background-color: #2d2d2d;
    background: -moz-linear-gradient(top, #2d2d2d, #3c3c3c);
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(#2d2d2d), to(#3c3c3c))
}
.table tr.c_1 td {
    background-color: #2d2d2d;
    background: -moz-linear-gradient(top, #1b1b1b, #161616);
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(#2d2d2d), to(#3c3c3c))
}
.table tr.c_2 td {
    background-color: #3c3c3c;
    background: -moz-linear-gradient(top, #1d1d1d, #3c3c3c);
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(#1d1d1d), to(#3c3c3c))
}
.table tr.c_3 td {
    background-color: #1c1c1c;
    background: -moz-linear-gradient(top, #1c1c1c, #1f1f1f);
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(#1c1c1c), to(#1f1f1f))
}
.table tr.boxHandle {
    cursor: pointer
}
.table tr.boxHandle.disabled {
    cursor: default !important
}
.table tr.boxHandle.c_1 td {
    background: #171717
}
.table tr.boxHandle.c_2 td {
    background: #1a1a1a
}
.table tr.c_1.boxHandle.hover td,
.table tr.c_1.boxHandle.checked td {
    background: #342f13
}
.table tr.c_2.boxHandle.hover td,
.table tr.c_2.boxHandle.checked td {
    background: #463f19
}
.table tr.c_1.boxHandle.disabled td {
    background: #151515
}
.table tr.c_2.boxHandle.disabled td {
    background: #171717
}
.table thead tr.small td {
    font-size: 11px
}
.table thead tr.x-small td {
    font-size: 10px
}
.table thead td {
    background-color: #1f3145;
    background: -moz-linear-gradient(top, #1f3145, #05172d);
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(#1f3145), to(#05172d));
    font-size: 14px;
    font-weight: 600;
    text-align: center
}
.table thead td a {
    color: #999;
    text-decoration: underline
}
.table thead td a:hover {
    color: #ccc
}
.table td .subtext {
    font-size: 10px;
    color: #666
}
.table td a.subtext {
    color: #555;
    text-decoration: none
}
.table td a.subtext:hover {
    color: #777;
    text-decoration: none
}
.table.styled_list {
    border-collapse: separate;
    border-spacing: 2px
}
.table tbody tr th {
    text-align: center;
    font-size: 14px;
    padding: 10px 0 5px 0;
    font-weight: normal;
    border: 0
}
.table tbody tr td.title {
    padding: 5px 10px 5px 5px;
    font-size: 12px;
    background: #141414;
    border: solid 1px #222;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-radius: 5px 0 0 5px;
    border-spacing: 10px
}
.table tbody tr td.text {
    padding: 5px;
    min-width: 150px;
    background: #191919;
    border: solid 1px #222;
    color: #777;
    font-size: 12px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-radius: 0 5px 5px 0;
    border-spacing: 10px
}
.lang select {
    background: #353e42;
    color: #d6d6d6;
    padding: 2px;
    font-size: 12px;
    border: 1px solid #9c9c9c;
    height: 23px;
    margin-top: 14px
}
.footer_banners {
    width: 982px;
    background: rgba(0, 0, 0, .5);
    float: left;
    border: 1px solid #111;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .40);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .40);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .40);
    margin: 10px auto 5px;
}
.aff_block {
    margin: 5px 0 20px 0;
    width: 320px;
    height: 100%;
    float: left;
    display: inline-block;
    vertical-align: top
}
.aff_content {
    width: 320px;
    height: 100%;
    padding: 4px 7px;
    background-color: #efefef;
    color: #0e6083;
    text-align: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    border: 1px solid #515151;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}
.aff_content hr {
    background-color: #efefef;
    border: #000 1px dashed;
    border-style: none none dotted;
    color: #fff
}
.aff_block_title {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    background-color: #515151;
    color: #efefef;
    margin-top: -16px;
    margin-right: auto;
    margin-left: auto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px
}
.aff_block_p {
    margin-bottom: 0;
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 11px
}
.aff_content_bottom {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 14px
}
.aff_block_p2 {
    display: block;
    background-color: #bedee2;
    margin: 9px 5px 0 5px;
    padding: 4px 0 4px 0;
    text-align: center;
    color: #0d5675;
    font-size: 18px;
    border: 1px solid #84afba;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none
}
.aff_block_p2:hover {
    background-color: #c2e2e6;
    border-color: #93c2cf
}
.aff_banner_block {
    margin-top: 25px;
    margin-bottom: 10px;
    width: 655px
}
.aff_banner {
    width: 655px;
    padding: 4px 10px;
    background-color: #efefef;
    color: #0e6083;
    border: 1px solid #515151;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}
.aff_banner_title {
    display: block;
    margin-top: -16px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding: 1px;
    background-color: #515151;
    color: #efefef;
    margin-right: auto;
    margin-left: auto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px
}
.reg_row_1 {
    width: 300px;
    display: inline-block
}
.reg_row_2 {
    width: 300px;
    margin-left: 20px;
    display: inline-block
}
.user_count {
    padding-left: 21px;
    background: transparent url(images/users.png) no-repeat;
    color: #93c52f;
    font-family: arial;
    font-size: 14px;
    text-shadow: 0 0 0 transparent, 0 1px 0 #060911;
    display: inline
}
.exchange_count {
    padding-left: 20px;
    background: transparent url(images/exchange.png) no-repeat;
    color: #93c52f;
    font-family: arial;
    font-size: 13px;
    text-shadow: 0 0 0 transparent, 0 1px 0 #060911;
    display: inline
}
.payout_count {
    padding-left: 20px;
    background: transparent url(images/cash.png) no-repeat;
    color: #93c52f;
    font-family: arial;
    font-size: 13px;
    text-shadow: 0 0 0 transparent, 0 1px 0 #060911;
    display: inline
}
.sideblock {
    background: rgba(0, 0, 0, .65);
    color: #fff;
    width: 230px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #000;
    margin: 18px 20px 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px
}
.home_top {
    background: rgba(0, 0, 0, .65);
    width: 220px;
    float: left;
    padding: 10px;
    padding-top: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #000;
    margin: 8px 20px 0 0;
    clear: both
}
#countDown {
    font-size: 13px;
    font-weight: bold;
    color: #3b5e2f;
    padding: 2px;
    background-color: #e5f2d8;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    width: 18px;
    text-align: center
}
.accBalance {
    padding-left: 21px;
    background: transparent url(images/bank.png) no-repeat;
    color: #98ca33;
    font-family: arial;
    font-size: 14px;
    text-shadow: 0 0 0 transparent, 0 1px 0 #11192c;
    display: inline
}
.aff_url_block {
    width: 322px;
    background: url(images/back.png) repeat center center #292e31;
    color: #fff;
    padding: 6px 10px;
    margin: 0 auto;
    border: 1px solid #ccc;
	border-top: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center
}
.share_button {
    background: -moz-linear-gradient(center top , #363636, #282828) repeat scroll 0% 0% transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363636), color-stop(40%,#282828), color-stop(100%,#282828)); /* Chrome,Safari4+ */
    font-size: 12px;
    color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 30px 5px 0 0;
    padding: 3px 6px;
    text-shadow: 0 0 0 transparent, 0 1px 0 #11192c;
    text-decoration: none;
    display: inline
}
.share_button:hover {
    background: #343434
}
.acm_block {
    background: rgba(0, 0, 0, 0.5);
    width: 230px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #000;
    margin: 20px 20px 10px 0
}
.acm_block hr {
    border: 0;
    height: 1px;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0))
}
.acm_inner {
    padding: 7px 2px
}
.acm_manager {
    display: block;
    margin: 1px 2px 8px
}
.acm_data {
    width: 100%;
    height: 20px;
    padding: 1px;
    font-size: 14px;
    text-decoration: none;
    color: #fff
}
.acm_data img {
    vertical-align: middle
}
.acm_title {
    background: #171717;
    background: -moz-linear-gradient(top, #171717 0, #050505 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #171717), color-stop(100%, #050505));
    background: -webkit-linear-gradient(top, #171717 0, #050505 100%);
    background: -o-linear-gradient(top, #171717 0, #050505 100%);
    background: -ms-linear-gradient(top, #171717 0, #050505 100%);
    background: linear-gradient(to bottom, #171717 0, #050505 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#050505', GradientType=0);
    margin: 0 -5px 2px -5px;
    padding: 5px;
    width: 230px;
    color: #fff;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}
.acm_avatar {
    border: 1px solid #050505;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}
.acm_left_button {
    background: #7fbf4d;
    background: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background: linear-gradient(top, #7fbf4d, #63a62f);
    width: 105px;
    padding: 7px 2px;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    margin-right: -2px;
    display: inline-block;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    border: 1px solid #63a62f;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}
.acm_left_button:hover {
    background: #76b347;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer
}
.acm_right_button {
    background: #7fbf4d;
    background: -webkit-linear-gradient(top, #4d9bbf, #2f72a6);
    background: -moz-linear-gradient(top, #4d9bbf, #2f72a6);
    background: -ms-linear-gradient(top, #4d9bbf, #2f72a6);
    background: -o-linear-gradient(top, #4d9bbf, #2f72a6);
    background: linear-gradient(top, #4d9bbf, #2f72a6);
    width: 105px;
    padding: 7px 2px;
    text-align: center;
    text-shadow: 0 -1px 0 #216590;
    margin-left: -2px;
    display: inline-block;
    box-shadow: inset 0 1px 0 0 #6da4ca;
    -webkit-box-shadow: inset 0 1px 0 0 #6da4ca;
    border: 1px solid #2f72a6;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}
.acm_right_button:hover {
    background: #4781b3;
    box-shadow: inset 0 1px 0 0 #678ebf;
    -webkit-box-shadow: inset 0 1px 0 0 #678ebf;
    cursor: pointer
}
.acm_left_gray {
    background: #626276;
    background: -webkit-linear-gradient(top, #626276, #3c3b4b);
    background: -moz-linear-gradient(top, #626276, #3c3b4b);
    background: -ms-linear-gradient(top, #626276, #3c3b4b);
    background: -o-linear-gradient(top, #626276, #3c3b4b);
    background: linear-gradient(top, #626276, #3c3b4b);
    width: 105px;
    padding: 7px 2px;
    text-align: center;
    text-shadow: 0 -1px 0 #363545;
    margin-right: -2px;
    display: inline-block;
    box-shadow: inset 0 1px 0 0 #626276;
    -webkit-box-shadow: inset 0 1px 0 0 #626276;
    border: 1px solid #302f3e;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}
.acm_left_gray:hover {
    background: #3c3b4b;
    box-shadow: inset 0 1px 0 0 #3c3b4b;
    -webkit-box-shadow: inset 0 1px 0 0 #3c3b4b;
    cursor: pointer
}
.acm_right_gray {
    background: #626276;
    background: -webkit-linear-gradient(top, #626276, #3c3b4b);
    background: -moz-linear-gradient(top, #626276, #3c3b4b);
    background: -ms-linear-gradient(top, #626276, #3c3b4b);
    background: -o-linear-gradient(top, #626276, #3c3b4b);
    background: linear-gradient(top, #626276, #3c3b4b);
    width: 105px;
    padding: 7px 2px;
    text-align: center;
    text-shadow: 0 -1px 0 #363545;
    margin-left: -2px;
    display: inline-block;
    box-shadow: inset 0 1px 0 0 #626276;
    -webkit-box-shadow: inset 0 1px 0 0 #626276;
    border: 1px solid #302f3e;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}
.acm_right_gray:hover {
    background: #3c3b4b;
    box-shadow: inset 0 1px 0 0 #3c3b4b;
    -webkit-box-shadow: inset 0 1px 0 0 #3c3b4b;
    cursor: pointer
}
.acm_left_button a,
.acm_right_button a,
.acm_right_gray a,
.acm_left_gray a,
.acm_gray a {
    font: bold 10px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #fff
}
hr.styled {
    border: 0;
    height: 1px;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0))
}
hr.styled_black {
    border: 0;
    height: 1px;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
}
.acm_gray {
    background: #626276;
    background: -webkit-linear-gradient(top, #626276, #3c3b4b);
    background: -moz-linear-gradient(top, #626276, #3c3b4b);
    background: -ms-linear-gradient(top, #626276, #3c3b4b);
    background: -o-linear-gradient(top, #626276, #3c3b4b);
    background: linear-gradient(top, #626276, #3c3b4b);
    width: 215px;
    display: block;
    padding: 7px 2px;
    text-align: center;
    text-shadow: 0 -1px 0 #363545box-shadow: inset 0 1px 0 0 #626276;
    -webkit-box-shadow: inset 0 1px 0 0 #626276;
    border: 1px solid #302f3e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
.acm_gray:hover {
    background: #3c3b4b;
    box-shadow: inset 0 1px 0 0 #3c3b4b;
    -webkit-box-shadow: inset 0 1px 0 0 #3c3b4b;
    cursor: pointer
}
.subMenu {
    background: #4e4e4e;
    width: 170px;
    margin: -5px auto 0;
    display: none;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}
.ucp_link .collapsed,
.ucp_link .collapsed:hover {
    background-image: url(images/collapsed.png);
    width: 16px;
    height: 16px;
    margin-top: 3px;
    float: right;
    display: inline-block
}
.ucp_link .expanded,
.ucp_link .expanded:hover {
    background-image: url(images/open.png);
    width: 16px;
    height: 16px;
    margin-top: 3px;
    float: right;
    display: inline-block
}
.subMenu a {
    display: block;
    line-height: 26px;
    text-align: left;
    padding-left: 10px;
    margin: 5px 0;
    text-decoration: none;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}
.subMenu a:hover {
    background: #dce3e8;
    text-decoration: none;
    color: #434647
}


#user_pack {
    width: 162px;
    height: 138px;
    text-align: center;
    background: #efefef;
	color: #666;
    float: left;
    margin: 0 3px 6px;
    border-radius: 5px
}
#user_pack .hdr {
    background: url(images/purchase-hdr.jpg) repeat-x;
    color: #fff !important;
    display: block;
    font-size: 14px !important;
    font-weight: normal;
    margin-bottom: 8px;
    font-weight: bold;
    padding: 4px 5px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}
#user_pack .seller {
    font-size: 13px !important;
	display: block;
	margin-bottom: 8px;
}